@font-face {
    font-family: EuropeExt;
    src: url("/fonts/EuropeExt Bold.ttf");
}
@font-face {
    font-family: EuropeExt;
    src: url("/fonts/EuropeExt Normal.otf");
}
html,body {
    font-family: Arial;
    font-weight: normal;
    margin: 0;
}
a {
    text-decoration: none;
}
p {
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
}
img {
    width: 100%;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* header */
.header {
    background-color: #01983b;
    background-image: url("../img/pattern.png");
    background-repeat: no-repeat;
}
.nav-menu .nav-styles {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 30px 0;
}
.is-active {
    position: relative;
    margin-right: 42px;
    color: #fff;
}
.last-ch {
    margin-right: 0;
}
.is-active:focus {
    color: #f40007;
}
.is-active:hover:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: -8px;
}
.is-active:hover:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -7px;
}

/* slider-news */

.slider-news {
    padding-top: 40px;
    background-image: url("../img/bg/art_museum.png");
    background-position: top;
    background-repeat: no-repeat;
}
.logo {
    float: left;
}
.social-info {
    position: relative;
    float: right;
}
.social-info p  {
    color: #01983b;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    margin-right: 60px;
}
.in {
    position: absolute;
    right: 25px;
    top: 8px;
}
.tw {
    position: absolute;
    right: 0;
    top: 8px;
}
.social-info span a {
    font-size: 1rem;
    font-weight: bold;
    color: #2c2783;
}
.social-info span a:hover {
    text-decoration: underline;
}
.social-info span a:focus {
    color: #000;
}
.form-header {
    text-align: right;
}
.search {
    width: 392px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #bfbdd9;
}
.search:focus {
    outline: none;
}
.button-header {
    background-color: #fff;
    border: none;
}
.button-header:focus {
    outline: none;
}
.mt {
    margin-top: 10px;
}
.slider {
    padding-bottom: 85px;
}

/* Стили для слайдера */

/* левая стрелка */

.slick-prev {
    top: 82%;
    left: 25px;
    z-index: 1;
    background-color: #fff;
    width: 32px;
    height: 12px;
}
.slick-prev:before {
    content: '';
}
.slick-prev:hover {
    top: 82%;
    left: 25px;
    z-index: 1;
    background-color: #fff;
    width: 32px;
    height: 12px;
}
.slick-prev:focus {
    background-color: #01983b;
}

/* правая стрелка */

.slick-next {
    top: 82%;
    left: 65px;
    z-index: 1;
    background-color: #fff;
    width: 32px;
    height: 12px;
}
.slick-next:before {
    content: '';
}
.slick-next:hover {
    top: 82%;
    left: 65px;
    z-index: 1;
    background-color: #fff;
    width: 32px;
    height: 12px;
}
.slick-next:focus {
    background-color: #01983b;
}
