@font-face {
    font-family: EuropeExt;
    src: url("/fonts/EuropeExt Bold.ttf");
}
@font-face {
    font-family: EuropeExt;
    src: url("/fonts/EuropeExt Normal.otf");
}
html,body {
    font-family: Arial;
    font-weight: normal;
    margin: 0;
}
a {
    text-decoration: none;
}
p {
    font-family: Arial;
    font-weight: normal;
    font-size: 14px;
}
.container {
    width: 980px;
    margin: 0 auto;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

/* header */

.header {
    background-color: #01983b;
    background-image: url("../img/pattern.png");
    background-repeat: no-repeat;
}
.nav-menu .nav-styles {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 30px 0;
}
.nav-menu table {
    width: 100%;
}
.is-active {
    position: relative;
    color: #fff;
}
.last-ch {
    margin-right: 0;
}
.is-active:focus {
    color: #f40007;
}
.is-active:hover:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    top: -8px;
}
.is-active:hover:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    bottom: -7px;
}

/* slider-news */

.slider-news {
    padding-top: 40px;
    background-image: url("../img/bg/art_museum.png");
    background-position: top;
    background-repeat: no-repeat;
}
.logo {
    float: left;
}
.social-info {
    position: relative;
    float: right;
}
.social-info p  {
    color: #01983b;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    margin-right: 60px;
}
.in {
    position: absolute;
    right: 25px;
    top: 8px;
    width: 25px;
    height: 25px;
    background-image: url("../img/icons/social-info-in.png");
    background-repeat: no-repeat;
    background-position: center;
}
.in:hover {
    background-image: url("../img/icons/social-info-in-hover.png");
    background-repeat: no-repeat;
    background-position: center;
}
.tw {
    position: absolute;
    right: 0;
    top: 8px;
    width: 25px;
    height: 25px;
    background-image: url("../img/icons/social-info-tw.png");
    background-repeat: no-repeat;
    background-position: center;
}
.tw:hover {
    background-image: url("../img/icons/social-info-tw-hover.png");
    background-repeat: no-repeat;
    background-position: center;
}
.social-info span a {
    font-size: 1rem;
    font-weight: bold;
    color: #2c2783;
}
.social-info span a:hover {
    text-decoration: underline;
}
.social-info span a:focus {
    color: #000;
}
.form-header {
    text-align: right;
}
.search {
    width: 392px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #bfbdd9;
}
.search:focus {
    outline: none;
}
.button-header {
    background-color: #fff;
    border: none;
}
.button-header:focus {
    outline: none;
}
.mt {
    position: relative;
    margin-top: 10px;
}
.slider {
    padding-bottom: 85px;
}

/* Стили для слайдера */

.slick-prev:before {
    content: '';
}
.slick-next:before {
    content: '';
}
.slick-dots li button:before {
    content: '';
}
.slick-dots {
    position: absolute;
    bottom: 95px;
    left: 8%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 12px;
    left: -45%;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: #fff;
}
.slick-dots li:focus {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 12px;
    left: -45%;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: #01983b;
}
.slick-dots li.slick-active {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 12px;
    left: -45%;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
    background-color: #01983b;
}

/* slider text sector */

.slider-text-sector {
    position: absolute;
    bottom: 125px;
    display: block;
    width: 770px;
    height: 140px;
    background: rgba(0, 0, 0, 0.4);
}
.slider-text-sector h2 {
    font-family: EuropeExt;
    font-size: 1.9em;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
    margin: 25px 0 3px 25px;
}
.slider-text-sector h3 {
    font-family: EuropeExt;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #f3f4f0;
    margin: 15px 0 10px 25px;
}


/* video-block */

.video-block {
    margin-top: -30px;
    background-image: url("../img/bg/bg-novaboard.png");
    background-repeat: no-repeat;
    background-position: top;
}
.inform-block {

}
.logo-1 {
    text-align: center;
    padding-top: 70px;
    margin-bottom: 18px;
}
.title {
    font-family: EuropeExt;
    font-size: 1.9em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #073d79;
    margin-bottom: 18px;
}
.iframe-video {
    text-align: center;
}
.iframe-video iframe {
    width: 576px;
    height: 318px;
}
.position {
    width: 100%;
}
.link-detail {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 25px;
}
.details {
    font-family: EuropeExt;
    font-size: 1.5em;
    font-weight: bold;
    width: 405px;
    height: 55px;
    color: #fff;
    background-color: #01983b;
    background-image: url("../img/pattern.png");
    padding: 18px 42px;
    margin-top: 45px;
    text-transform: uppercase;
    border-radius: 4px;
    text-align: center;
}
.details:hover {
    background-color: #0cc453;
}
.details:focus {
    background-color: #0e7837;
}

/* application-block */


.application-block {
    margin-bottom: 70px;
}
.application-block h3 {
    font-family: EuropeExt;
    font-size: 1.9em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 70px 0 35px 0;
}
.wrap-container {
    width: 1225px;
    margin: 0 auto 50px auto;
}
.build-block-1, .build-block-2 {
    width: 608px;
    height: 310px;
    display: inline-block;
}
.build-block-1 {
    position: relative;
    background-image: url("../img/bg/bg-build-left.jpg");
    background-size: 100%;
    background-position: center;
}
.overlay-effect {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 608px;
    height: 285px;
    background: rgba(0, 0, 0, 0.4);
}
.logo-2 {
    position: absolute;
    bottom: 0;
    right: 49px;
}
.build-block-2 {
    position: relative;
    background-image: url("../img/bg/bg-build-right.jpg");
    background-size: 100%;
    background-position: top;
}
.logo-2-right {
    position: absolute;
    bottom: 0;
    left: 49px;
}
.build-block-1 h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5em;
    text-align: right;
    margin: 22px 48px 25px 0;
    position: relative;
    z-index: 2;
}
.build-block-2 h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5em;
    text-align: left;
    margin: 22px 0px 25px 48px;
    position: relative;
    z-index: 2;
}
.wrap-1 {
    display: block;
    text-align: right;
    margin-bottom: 5px;
}
.wrap-1 .left-1 {
    padding-left: 44px;
}
.wrap-1 .left-2 {
    padding-left: 30px;
}
.wrap-1 .left-3 {
    padding-left: 26px;
}
.wrap-2 {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
.wrap-2 .right-1 {
    padding-right: 44px;
}
.wrap-2 .right-2 {
    padding-right: 33px;
}
.wrap-2 .right-3 {
    padding-right: 45px;
}
.text-edit {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.875em;
    position: relative;
    z-index: 2;
}
.left-block {
    position: relative;
    text-align: right;
    padding: 4px 48px 3px 0;
    background-color: #01983b;
}
.left-block:before {
    content: "";
    position: absolute;
    top: 0;
    left: -48px;
    display: block;
    width: 48px;
    height: 23px;
    background-color: #01983b;
    opacity: 0.6;
}
.left-block:after {
    content: "";
    position: absolute;
    top: 0;
    left: -96px;
    display: block;
    width: 48px;
    height: 23px;
    background-color: #01983b;
    opacity: 0.3;
}

.right-block {
    position: relative;
    text-align: left;
    padding: 4px 0 3px 48px;
    background: #01983b;
}
.right-block:before {
    content: "";
    position: absolute;
    top: 0;
    right: -48px;
    display: block;
    width: 48px;
    height: 23px;
    background-color: #01983b;
    opacity: 0.6;
}
.right-block:after {
    content: "";
    position: absolute;
    top: 0;
    right: -96px;
    display: block;
    width: 48px;
    height: 23px;
    background-color: #01983b;
    opacity: 0.3;
}

/* ромбы в блоке application-block */

.wrapper {
    width: 1225px;
    margin: 0 auto
}
.categories {
    display: inline-block;
    width: 200px;
    height: 255px;
    text-align: center;
}
.name-categories {
    font-size: 0.875em;
    font-weight: bold;
    color: #01983b;
    text-transform: uppercase;
}
.categories:nth-child(even) {
    vertical-align: middle;
    margin-top: -105px;
}

/* table-block */

.table-block {
background-image: url("../img/bg/bg-table-block2.png");
    background-size: 118%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.opacity-wrapper {
    width: 1225px;
    height: 873px;
    margin: 0 auto;
}
.logo-3 {
    text-align: center;
    padding: 53px 0 16px 0;
    background: #fff;
}
.opacity-wrapper h3 {
    font-family: EuropeExt;
    font-size: 1.9em;
    text-align: center;
    text-transform: uppercase;
    color: #01983b;
    margin: 0;
    padding: 30px;
}

/* таблица/table */


.opacity-wrapper {
    border: 3px solid #e6ecf4;
    background: rgba(255,255,255,0.6);
}
.specifications {
    width: 100%;
    background-color: #fff;
    border: 4px solid #d5dfec;
    border-collapse: collapse;
}
.styles-th {
    font-size: 0.875em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 14px 0 14px 12px;
    background-color: #01983b;
    background-image: url("../img/pattern.png");
}
.styles-td {
    font-size: 0.875em;
    color: #043567;
    text-align: center;
    border: 1px solid #d5dfec;
    padding: 13px 0 15px 13px;
}
.specifications .left {
    text-align: left;
}
.styles-bg:nth-child(even) {
    background: #f2f5f7;
}


/* advantage-block Какие задачи решает */

.advantage-block {
    background-image: url("../img/bg/bg-advantage2.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.wrap-container-1 {
    width: 1225px;
    margin: 0 auto;
}
.wrap-container-1 h2 {
    font-family: EuropeExt;
    font-size: 1.9em;
    text-align: center;
    text-transform: uppercase;
    color: #01983b;
    margin-top: 0;
}

/* таблица advantage */

.advantage {
    border-spacing: 5px;
}
.advantage .cell-1 {
    width: 365px;
    font-size: 0.875em;
    color: #fff;
}
.advantage .space-between {
    width: 0;
}
.advantage .cell-2 {
    width: 600px;
    font-size: 0.875em;
    color: #fff;
}
.advantage .cell-1, .cell-2 {
    padding: 14px 10px 14px 70px;
}
.bg-red {
    background-color: #ff0000;
}
.bg-green {
    background-color: #01983b;
}
.advantage .cell-1 {
    position: relative;
    background-image: url("../img/icons/sad-smile.png");
    background-repeat: no-repeat;
    background-position: 15px;
}
.advantage .cell-1::after,
.advantage .cell-1::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    background-color: #ff0000;
    opacity: 0.7;
    right: 100%;
}
.advantage .cell-1::after {
    opacity: 0.3;
    margin-right: 60px;
}
.advantage .cell-2 {
    position: relative;
    background-image: url("../img/icons/happy-smile.png");
    background-repeat: no-repeat;
    background-position: 15px;
}
.advantage .cell-2::after,
.advantage .cell-2::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    background-color: #01983b;
    opacity: 0.7;
    left: 100%;
}
.advantage .cell-2::after {
    opacity: 0.3;
    margin-left: 60px;
}

/* certificates блок сертификаты */

.certificates h3 {
    font-family: EuropeExt;
    font-size: 1.9em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #2c2783;
}
.lightbox-gallery {
    text-align: center;
    margin-bottom: 30px;
}
.lightbox-gallery .mr {
    margin-right: 38px;
}
.lightbox-gallery .mr:last-child {
    margin-right: 0;
}
.certificates h4 {
    font-size: 1.5em;
    font-weight: bold;
    color: #2c2783;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.logo-4 {
    text-align: center;
    margin-bottom: 45px;
}

/* contacts */

.adress-sector {
    position: relative;
    z-index: 1;
    text-align: center;
    height: 100%;
    background-color: #01983b;
    background-image: url("../img/pattern.png");
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.adress-sector h3 {
    font-family: EuropeExt;
    font-size: 1.9em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-top: 35px;
    margin-top: 0;
}
.adress-sector p {
    font-size: 1.125em;
    color: #fff;
    line-height: 1.6;
}
.adress-sector .tel-email {
    font-size: 0.875em;
    color: #fff;
    line-height: 1.8;
    padding-bottom: 30px;
}
.map-sector {
    margin-top: -40px;
}
.map-sector iframe {
    height: 338px;
}

/* footer */

.footer {
    margin-top: -5px;
    background-color: #01983b;
    background-image: url("../img/bg/bg-footer.png"), url("../img/pattern.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.logo-5 {
    text-align: center;
    padding-top: 25px;
}
.wrap-footer p, h5 {
    text-align: center;
    font-size: 0.875em;
    color: #fff;
    text-transform: uppercase;
}
.wrap-footer p {
    margin: 5px 0 15px 0;
}
.wrap-footer h5 {
    margin: 0 0 6px 0;
}
.wrap-social {
    text-align: center;
    margin-bottom: 50px;
}
.link-social-in {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../img/icons/footer-social-in.png");
    background-repeat: no-repeat;
}
.link-social-in:hover {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../img/icons/footer-social-in-hover.png");
}
.link-social-w {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../img/icons/footer-social-w.png");
    background-repeat: no-repeat;
}
.link-social-w:hover {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url("../img/icons/footer-social-w-hover.png");
    background-repeat: no-repeat;}

.wezom-link {
    display: block;
    text-align: center;
    font-size: 0.75em;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 20px;
}
